# Dependências
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Variáveis de Ambiente (Segurança!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
.env.sample
!.env.example

# Build e Saída
dist/
build/
out/
.next/
.nuxt/
bin/

# Cache de ferramentas
.eslintcache
.stylelintcache
.prettiercache
.cache/
.parcel-cache

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testes e Cobertura
coverage/
*.lcov
.nyc_output

# Lock files (Opcional)
# Descomente se você quiser forçar uma versão específica e NÃO subir o lock
# package-lock.json
# yarn.lock
# pnpm-lock.yaml