PORT=3200
PORT=3500
DATABASE_URL="postgresql://neondb_owner:npg_SZDyY5Vmc4gz@ep-flat-dew-acf5rs1u-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=sua_chave_super_secreta
